ACMVT.SignlR/ACMVT.SignlR.ChatWindowsClient/bin/
ACMVT.SignlR/ACMVT.SignlR.ChatWindowsClient/obj/
ACMVT.SignlR/ACMVT.SignlR.WebChatServer/bin/
ACMVT.SignlR/ACMVT.SignlR.WebChatServer/obj/
ACMVT.SignlR/ACMVT.SignlR.WinFormClient/bin/
ACMVT.SignlR/ACMVT.SignlR.WinFormClient/obj/
ACMVT.SignlR/SandBox/ConsoleApp2/ConsoleApp2/bin/
ACMVT.SignlR/SandBox/ConsoleApp2/ConsoleApp2/obj/
